@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");

:root {
    --gradient-deep: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0)
    );
    --gradient-soft: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
    );
}

#navbar {
    background: rgba(230, 230, 230, 0.5);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.website-header {
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 1px 10px rgba(77, 77, 77, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(100, 100, 100, 0.151);
}

.website-hero {
    background-image: url("../assets/img/hero-background_2.webp");
    background-size: cover;
    background-repeat: repeat;
    background-position-y: 0px;
}

.under-navbar {
    top: 4.1rem !important;
}

.under-navbar-sm {
    top: 4rem !important;
}

.bg-gradient-deep {
    background-image: var(--gradient-deep) !important;
}

.bg-gradient-soft {
    background-image: var(--gradient-soft) !important;
}

.tight-pocket {
    padding: 0.1rem;
}

.vendor-company {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.brand-font {
    font-family: "Antonio", sans-serif !important;
    font-optical-sizing: auto;
}

.header-menu {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
