@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");

:root {
    --gradient-deep: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0)
    );
}

#navbar {
    background: rgba(250, 250, 250, 0.4);
    box-shadow: 0 1px 10px rgba(124, 124, 124, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.website-header {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 10px rgba(124, 124, 124, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(29, 29, 29, 0.8);
}

.website-hero {
    background-image: url(../assets/img/hero-background.webp);
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: brightness(60%);
}

.under-navbar {
    top: 4.1rem !important;
}

.under-navbar-sm {
    top: 4rem !important;
}

.bg-gradient-deep {
    background-image: var(--gradient-deep) !important;
}

.tight-pocket {
    padding: 0.1rem;
}

.vendor-company {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.header-menu {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.marquee-container {
    max-width: 350px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marquee-item {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 7s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
